.song{
  width: 50%;
  margin: 0 auto;
}

.song-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.song-data{
  margin: 7rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.album{
  width: 50%;
  margin: 0 auto;
}

.album-data{
  margin: 7rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.album-data ol li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.album-data ol li span{
  margin: 1rem;
}
.album-header{
  display: flex;
  justify-content: space-around;
}

.artist{
  width: 50%;
  margin: 0 auto;
}


.artist-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artist-header{
  text-align: center;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-link{
  margin: 1em;
}

.list{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.header{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
}

.header input{
  padding-right: 1rem;
  padding: 0.5rem;
}

.header button{
  margin: 1rem;
}
